<!--<md-card  *ngIf="userView == null &&  deviceView == null" class="item" >
    <md-card-title-group>

        <md-card-title><span>Tab device or user ID</span>
            {{userView.displayName}}</md-card-title>
        <md-card-subtitle><span>Email:</span>
            {{userView.email}}
        </md-card-subtitle>
        <md-card-subtitle><span></span><b></b>

        </md-card-subtitle>
    </md-card-title-group>

</md-card>-->
<h1>SCAN NFC TAG:</h1>
<hr>
<md-card  *ngIf="userView" class="item" >
    <md-card-title-group>

        <md-card-title><span>Hi</span>
            {{userView.displayName}}</md-card-title>
        <md-card-subtitle><span>Email:</span>
            {{userView.email}}
        </md-card-subtitle>
        <md-card-subtitle><span></span><b></b>

        </md-card-subtitle>
    </md-card-title-group>

</md-card>

<md-card  *ngIf="deviceView" class="item" >
<md-card-title-group>

    <md-card-title><span>Device: </span>
        {{deviceView.device_model}}</md-card-title>
    <md-card-subtitle><span>Device Type:</span>
        {{deviceView.device_type}}
    </md-card-subtitle>
    <md-card-subtitle><span></span><b></b>

    </md-card-subtitle>
</md-card-title-group>

</md-card>

<md-card  *ngIf="isDone" class="item" >
    <md-card-title-group>
        <md-card-title><span>Happy debugging :) </span></md-card-title>
        <md-card-subtitle><span></span></md-card-subtitle>
        <md-card-subtitle><span></span><b></b>
        </md-card-subtitle>
    </md-card-title-group>

</md-card>

<div id="nfcid"  #nfcInput ></div>





