<div  class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScroll()">


    <md-card class="device">
        <md-card-title-group>
            <img md-card-sm-image [src]=" deviceView | ImageGuessPipe">
            <md-card-title>{{deviceView.device_model}}</md-card-title>
            <md-card-subtitle>
                {{deviceView.device_os}} {{deviceView.device_version}}
            </md-card-subtitle>
        </md-card-title-group>
    </md-card>

    <md-card class="user" *ngIf="deviceUser.email">
        <md-card-title-group>
            <a [href]="deviceUser.sip">
                <img class="skype" md-card-sm-image src="../../../../public/images/skype.svg">
            </a>

            <md-card-subtitle>
                In Use By {{deviceUser.displayName}}
            </md-card-subtitle>

        </md-card-title-group>
    </md-card>


    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>In Use By</th>
            <th>Status</th>
            <th>Date/Time</th>

        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of deviceLogView">
            <td >{{item.name}}</td>
            <td >{{item.device_status}} </td>
            <td >{{item.time |date:"MM/dd/yy HH:MM:ss"}}</td>
        </tr>
        </tbody>
    </table>
</div>