<div class="search-results"
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()">


    <!--THE CARD FOR THE DEVICE-->
    <md-card class="device">
        <md-card-title-group>
            <img md-card-sm-image [src]=" deviceView | ImageGuessPipe">
            <md-card-title>{{deviceView.device_model}}</md-card-title>
            <md-card-subtitle>
                {{deviceView.device_os}} {{deviceView.device_version}}
            </md-card-subtitle>
        </md-card-title-group>
    </md-card>


    <!-- SHOWN IF THE DEVICE IS OUT, BUT YOU ARE NOT THE USER-->
    <md-card class="user" *ngIf="deviceView.userId !== userId && deviceView.userId.length">
        <md-card-title-group>
            <a [href]="deviceUser.sip">
                <img class="skype" md-card-sm-image src=".././../../img/skype.svg">
            </a>

            <md-card-subtitle>
                In Use By {{deviceUser.displayName}}
            </md-card-subtitle>

        </md-card-title-group>
    </md-card>

    <!-- SHOWN IF THE DEVICE IS OUT, AND YOU ARE THE USER-->
    <md-card class="user" *ngIf="deviceView.userId == userId" (click)="return();">
        <md-card-title-group>
            <p class="return">Return</p>
        </md-card-title-group>
    </md-card>

    <!-- SHOWN IF THE DEVICE IS AVAILABLE-->
    <md-card class="user" *ngIf="!deviceView.userId.length" (click)="borrow();">
        <md-card-title-group>
            <p class="borrow">Borrow</p>
        </md-card-title-group>
    </md-card>


    <input class="search" placeholder="Search" id="filter" required [(ngModel)]="filterTxt" name="filter"/>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>In Use By</th>
            <th>Status</th>
            <th>Date/Time</th>

        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of deviceLogView | DeviceFilterPipe:filterTxt">
            <td>{{item.name}}</td>
            <td>{{item.device_status}}</td>
            <td>{{item.time |date:"dd/MM/yy HH:MM:s"}}</td>
        </tr>
        </tbody>
    </table>
</div>