<div *ngIf="counter < 10"><i>Return Device in: </i>{{counter}}</div>
<hr>

<md-card *ngIf="userName" class="item">
    <md-card-title-group>

        <md-card-title><span>Hi</span>
            {{userName}}
        </md-card-title>
        <md-card-subtitle><span></span><b></b>

        </md-card-subtitle>
    </md-card-title-group>
</md-card>

<md-card *ngIf="deviceName" class="item">
    <md-card-title-group>

        <md-card-title><span>Device: </span>
            {{deviceName}}
        </md-card-title>
        <md-card-subtitle><span></span><b></b>
        </md-card-subtitle>
    </md-card-title-group>
</md-card>





