<main>

    <!--TODO: IF you have checked out devices, then set that tab to be active by default, else set the full device list-->
    <md-tab-group [selectedIndex]="1">
        <md-tab>
            <template md-tab-label>
                Your Devices
            </template>
            <template md-tab-content>

                <div class="yourDevices">

                    <md-card class="device" *ngFor="let item of yourDevicesView" (click)="onDeviceInfo(item)">
                        <md-card-title-group>
                            <img md-card-sm-image [src]=" item | ImageGuessPipe">
                            <md-card-title>{{item.device_model}}</md-card-title>
                            <md-card-subtitle>
                                {{item.device_os}} {{item.device_version}}
                            </md-card-subtitle>

                        </md-card-title-group>
                    </md-card>
                </div>

                <div class="noDevices" [hidden]="yourDevicesView.length">
                    <img src="../../../../public/images/devices.svg">
                    <h2>No Devices</h2>
                </div>

            </template>
        </md-tab>

        <md-tab>
            <template md-tab-label>
                All {{deviceView.length}}
            </template>
            <template md-tab-content>

                <input class="search" *ngIf="deviceView.length" placeholder="Search" id="filter" required
                       [(ngModel)]="filterTxt" name="filter"/>
                <div class="table-responsive deviceTable" *ngIf="(deviceView | DeviceFilterPipe: filterTxt).length">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Model</th>
                            <th>OS</th>
                            <th>in use</th>
                            <th class="action">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr *ngFor="let item of deviceView | DeviceFilterPipe:filterTxt"    >
                            <ng-container *ngIf="item.status !== 'deactivate' " >
                                <td (click)="onDeviceInfo(item)">{{item.device_model}} {{item.status}}</td>
                                <td (click)="onDeviceInfo(item)">{{item.device_os}}</td>
                                <td (click)="onDeviceInfo(item)">{{item.inUseBy}}</td>
                                <td class="action">
                                    <button md-raised-button type="button" class="logout" (click)="onReturn(item)"
                                            *ngIf="userId === item.userId" color="primary">Return
                                    </button>
                                    <button md-raised-button type="button" class="logout" (click)="onBorrow(item)"
                                            *ngIf="!item.userId" color="secondary">Borrow
                                    </button>
                                    <button md-raised-button type="button" class="logout" (click)="onNotify(item)"
                                            *ngIf="item.userId && userId !== item.userId" color="secondary">
                                        Notify
                                    </button>
                                </td>
                                </ng-container>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div class="noDevices"
                     *ngIf="(deviceView | DeviceFilterPipe: filterTxt).length === 0  && deviceView.length">
                    <img src="../../../../public/images/devices.svg">
                    <h2>No Matches</h2>
                </div>

                <div class="loading" *ngIf="!deviceView.length">
                    <md-progress-circle mode="indeterminate" color="primary"></md-progress-circle>
                </div>
            </template>
        </md-tab>
    </md-tab-group>

</main>
