main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
}

.noDevices{
  padding-top: 2em;
  text-align: center;
}

.yourDevices{
  display: flex;
  flex-wrap: wrap;
}

md-card.device{
  width: 280px;
  margin: 1em;
}

input.search{
  width: 96%;
  margin: 2%;
  padding: 0.5em;
}

.deviceTable .action{
  width: 120px;
}

.device md-card-title{
  margin-right: 0.5em;
  margin-bottom: 0;
}